<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vn.kingbee.widget">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera2.full" />
    <application
        android:name="vn.kingbee.application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SelectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".progress.CircleProcessBarActivity" />
        <activity android:name=".progress.demo.CircleProgressIndicatorDemo" />
        <activity android:name=".edittext.FormatEditTextActivity" />
        <activity android:name=".pin.PinActivity" />
        <activity android:name=".keyboard.NumpadActivity" />
        <activity android:name=".camera.demo.CameraDemo1Activity" />
        <activity android:name=".animation.demo.ShimmerActivityDemo" />
        <activity android:name=".animation.demo.DemoTypeActivity" />
        <activity android:name=".calendar.demo.DatePickerDemoActivity" />
        <activity android:name=".button.demo.ButtonDemoActivity" />
        <activity android:name=".spinner.demo.SpinnerDemoActivity" />
        <activity android:name=".recyclerview.HelpVideoDemo" />
        <activity android:name=".signature.SignatureDemoActivity" />

        <activity android:name="vn.kingbee.rxjava.RxJava2SelectionActivity" />
        <activity android:name="vn.kingbee.rxjava.OperatorsActivity" />
        <activity android:name="vn.kingbee.rxjava.operators.SimpleExampleActivity" />
        <activity android:name="vn.kingbee.rxjava.operators.MapExampleActivity" />
        <activity android:name="vn.kingbee.rxjava.operators.ZipExampleActivity" />
        <activity android:name="vn.kingbee.rxjava.operators.DisposableExampleActivity" />
        <activity android:name="vn.kingbee.rxjava.operators.TakeExampleActivity" />
        <activity android:name="vn.kingbee.rxjava.operators.TimerExampleActivity" />
        <activity android:name="vn.kingbee.rxjava.operators.IntervalExampleActivity" />
        <activity android:name="vn.kingbee.rxjava.operators.SingleObserverExampleActivity" />
        <activity android:name="vn.kingbee.rxjava.operators.CompletableObserverExampleActivity" />
    </application>

</manifest>